:root {
  --title-font: "Amatic SC", cursive;
  --text-font: "Raleway", sans-serif;
  --dark-grey: rgb(76, 83, 103);
  --mid-grey: rgb(138, 146, 168);
  --light-grey: rgb(211, 214, 222);
  --orange-yellow: rgb(255, 196, 0);
  --bg-dark-grey: rgba(76, 83, 103, 0.75);
  --bg-mid-grey: rgba(138, 146, 168, 0.75);
  --bg-light-grey: rgb(211, 214, 222, 0.75);
  --bg-orange-yellow: rgb(255, 196, 0, 0.75);
}

body {
  background-image: linear-gradient(
      155deg,
      rgba(252, 189, 0, 0.1),
      rgba(252, 189, 0, 0.1)
    ),
    url(https://www.walkhighlands.co.uk/lochlomond/2_2/2_2_1l.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 0 45px;
  position: relative;
  width: 100%;
  margin: 0px;
  /*   top: 0; */
  /*   left: -10px; */
  background-color: var(--bg-light-greylight-grey);
}
h3,
p {
  font-family: var(--text-font);
}
a,
a:active,
a:visited {
  max-width: max-content;
  text-decoration: none;
  color: var(--dark-grey);
}

a:hover,
a:focus {
  font-weight: bold;
  color: var(--dark-grey);
}

#navbar,
#footer {
  width: 100vw;
  background-color: var(--orange-yellow);
  /*   border: 2px groove var(--mid-grey); */
  box-shadow: 0px 0px 5px var(--mid-grey);
  font-family: var(--title-font);
  color: var(--mid-grey);
}
#navbar {
  height: 3em;
  display: inline-flex;
  position: fixed;
  z-index: 999;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}

.navlink {
  margin: auto 10px;

  font-size: 22px;
}

#welcome,
#contact-target {
  position: relative;
  width: 100vw;
  top: 0;
  left: 0;
  padding: 3em 0px 0px 0px;
  margin: 0;
  background-image: linear-gradient(
      155deg,
      rgba(252, 189, 0, 0.1),
      rgba(252, 189, 0, 0.1)
    ),
    url(https://www.walkhighlands.co.uk/lochlomond/2_2/2_2_1l.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 0 45px;
  font-family: var(--title-font);
  color: white;
  font-size: 24px;
}
#contact-target {
  font-family: var(--title-font);
  background-image: 
    /* linear-gradient(155deg, rgba(15, 29, 156, 0.35), rgba(252, 189, 0, 0.35), rgba(15, 29, 156, 0.35)), */ url(https://www.walkhighlands.co.uk/lochlomond/2_2/2_2_1l.JPG);
}

#welcome-text {
  max-width: 900px;
  display: block;
  margin: auto;
  padding: 3em;
  padding-bottom: 0;
}

#welcome-text h4 {
  display: block;
  margin: auto;
  text-align: right;
  max-width: max-content;
}
#welcome-text h1 {
  text-align: center;
}

.lg-container {
  background-color: var(--bg-light-grey);
  width: 100%;
}
#info,
#about {
  display: block;
  margin: auto;
  max-width: 900px;
  color: var(--dark-grey);
  padding: 3em 2em;
}
#info {
  display: block;
  margin: auto;
  max-width: max-content;
}

.svg-icon {
  width: 40px;
  height: auto;
  background-color: var(--mid-grey);
  padding: 4px;
  /*border: 1px solid var(--orange-yellow);*/
  border-radius: 5px;
}

.feature {
  display: flex;
  align-items: center;
  margin-top: 1em;
}

.feature p {
  margin: 0 1em;
}
#about h3 {
  text-align: right;
}
#about p {
  text-align: justify;
}
li {
  list-style-type: disc;
  font-family: var(--text-font);
}
#contact {
  display: block;
  margin: auto;
  max-width: 900px;
}
#contact-text {
  display: block;
  margin: auto;
  max-width: 75vw;
}
.yellow-box {
  background-color: var(--orange-yellow);
  opacity: 85%;
  color: var(--dark-grey);
  font-size: 16px;
  padding: 1px 20px;
  border-radius: 2px;
}
#contact-form {
  display: block;
  margin: 3em auto;
  width: min-content;
  padding: 1em;
  font-size: 20px;
  font-weight: bold;
}
.form-opt {
  font-family: var(--text-font);
  font-size: 14px;
}
#contact-target a {
  text-decoration: underline;
}
#gallery {
  text-align: center;
  background-color: var(--bg-dark-grey);
  padding: 3em 2em;
}
.gallery-container {
  max-height: 500px;
  overflow: scroll;
  display: block;
  margin: auto;
  max-width: 1000px;
  border: 2px solid var(--orange-yellow);
  background-color: var(--bg-mid-grey);
}
#gallery img {
  width: 200px;
  margin: 10px 10px;
  border: 2px solid var(--light-grey);
}
#gallery img:hover {
  transition: 0.75s;
  transform: scale(1.05);
}
.input-box {
  width: 250px;
  font-family: var(--text-font);
  color: black;
}
#extra-info {
  height: 120px;
}
#footer p {
  text-align: right;
  padding: 20px;
  margin: 0px;
  font-family: var(--title-font);
}
.elfsight-app-4a7379c7-484f-4e30-ba38-d261baf8e9c7 {
  font-family: var(--text-font);
}

.widget {
  margin-top: 3em;
  opacity: 90%;
  font-family: var(--title-font);
  background: var(--orange-yellow);
  padding: 30px 30px 30px 20px;
  width: 100%;
}

.widget_input {
  padding: 5px;
  border-radius: 2px;
  border: none;
  margin: 4px;
  max-width: 300px;
}

/* .check-availability {
  border: 2px solid white !important;
} */

.datepicker-top-left,
.datepicker-top-right {
  transition: none;
}

.availability-button {
  text-align: center;
  margin: 3em auto;
  padding: 20px;
  width: 6em;
  background: var(--orange-yellow);
  color: var(--dark-grey);
  border: 2px solid white;
  font-family: var(--title-font);
  font-size: 24px;
}
