:root {
  --title-font: "Amatic SC", cursive;
  --text-font: "Raleway", sans-serif;
  --dark-grey: rgb(76, 83, 103);
  --mid-grey: rgb(138, 146, 168);
  --light-grey: rgb(211, 214, 222);
  --orange-yellow: rgb(255, 196, 0);
  --bg-dark-grey: rgba(76, 83, 103, 0.90);
  --bg-mid-grey: rgba(138, 146, 168, 0.90);
  --bg-light-grey: rgb(211, 214, 222, 0.9);
  --bg-orange-yellow: rgb(255, 196, 0, 0.9);
  --bg-super-light-o-y: rgba(255, 196, 0, 0.15);
  --main-background: "../images/background.jpeg";
}
html {
  background-color: var(--dark-grey);
}
body {
  display: block;
  margin: auto;
  font-size: medium;
  background-image: linear-gradient(
      155deg,
      var(--bg-super-light-o-y),
      var(--bg-super-light-o-y)
    ),
    url('../images/background-2.jpeg');
  background-repeat: repeat;
  background-size: 1400px auto; 
  background-attachment: fixed;
  background-position:top -20vh center; 
  position: relative;
  max-width: 1400px;
  background-color: var(--bg-light-grey);
  overflow-x: hidden;
}

h2,
.about-text h4,
p {
  font-family: var(--text-font);
}
.about-text h4 {
  text-decoration: underline;
}
a,
a:active,
a:visited,
.availability-button:active,
.availability-button:visited {
  max-width: max-content;
  text-decoration: none;
  color: var(--dark-grey);
}

a:hover,
a:focus,
.availability-button:hover,
.availability-button:focus {
  font-weight: bold;
  color: var(--dark-grey);
}

#navbar,
#footer {
  width: 100%; 

  background-color: var(--orange-yellow);
  box-shadow: 0px 0px 5px var(--mid-grey);
  font-family: var(--title-font);
  color: var(--mid-grey);
}
#navbar {
  position: fixed;
  z-index: 999;
  padding: 10px;
  margin: 0px;
  max-width: 1380px;
}

.dropbtn {
  font-size: 22px;
  font-family: var(--title-font);
  color: var(--dark-grey);
  background-color: var(--orange-yellow);
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  font-size: 22px;
  display: none;
  position: absolute;
  background-color: var(--orange-yellow);
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: var(--dark-grey);
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover, 
.dropdown-content a:focus {
  background-color: var(--orange-yellow);

}

.dropdown:hover .dropbtn,
.dropdown:focus .dropbtn {
  font-weight: bold;
  color: var(--dark-grey);
}

.dropdown:hover .dropdown-content, 
.dropdown:focus .dropdown-content {
  display: block;
}

#footer {
  width: 100%; 
}
.navlink-container {
  float: right;
  max-width: 1000px;
  padding-right: 1em;
}
.navlink {

  margin: 10px;
  font-size: 22px;
}

#welcome,
#contact-target {
  position: relative;
  width: 100%;
  min-height: 50vh;
  top: 0;
  left: 0;
  padding: 4em 0px;
  margin: 0;
  background-image:linear-gradient(
      155deg,
      var(--bg-super-light-o-y),
      var(--bg-super-light-o-y)
    ),
    url('../images/background-2.jpeg');
  background-repeat: repeat;
  background-size: 100% auto; 
  background-attachment: fixed;
  background-position: top 5vh center;
  position: relative;
  font-family: var(--title-font);
  color: white;
  font-size: 24px;
  
}
#contact-target {
  font-family: var(--title-font);
  padding-top: 2em;
}

#welcome-text {
  text-shadow: -0.75px -0.75px var(--mid-grey),-0.75px 0.75px var(--mid-grey),0.75px -0.75px var(--mid-grey),0.75px 0.75px var(--mid-grey);
  max-width: 900px;
  display: block;
  margin: auto;
  padding: 3em;
  padding-bottom: 0;
}

#welcome-text h4 {
  display: block;
  margin: auto;
  text-align: right;
  max-width: max-content;
}
#welcome-text h1 {
  text-align: center;
  margin-bottom: 0px;
}

.lg-container {
  background-color: var(--light-grey);
  width: 100%;
  padding: 2em 0;
}

.dg-container {
  background-color: rgb(87, 95, 117);
  width: 100%;
  padding: 2em 0;

}


#info,
#reviews,
.info {
  display: block;
  margin: auto;
  max-width: 860px;
  color: var(--dark-grey);
  padding: 0 20px;
}


/* #info {
  max-width: max-content;
} */
.dg-container .info {
  color: #f0f1f4;
}
#reviews hr {
  color: var(--orange-yellow);
  border-color: var(--orange-yellow);
}



.med-about-image,
.sml-about-image {
  border: 2px solid var(--orange-yellow);
}
.sml-about-image {
  display: block;
  margin: 2em auto;
}
.med-about-image {
  display: none;
  margin: 3em 0;
  width: 360px;
  height: 480px;
}
#about-text-pt1 {
  max-width: 800px;
  text-align: justify;
  margin-bottom: 3em;
}
#about-text-pt2 {
  display: block;
  margin: 3em auto auto auto;
  max-width: 800px;
  text-align: justify;
}


.svg-icon {
  width: 40px;
  height: 40px;
  background-color: var(--mid-grey);
  padding: 4px;
  border-radius: 5px;
}
.feature-container {
  display:block;
  margin: auto;
  max-width: max-content;
  margin-bottom: 3em;
  padding: 1em auto;
}
.feature {
  display: flex;
  align-items: center;
  margin: 0.75em auto;
}

.feature p {
  margin: 0 1em;
}

#gallery {
  text-align: center;
  background-color: var(--mid-grey);
  padding: 4em 0px 0px 0px;
  font-size: 24px;
  font-family: var(--text-font);
}
.gallery-container {
  max-height: 500px;
  overflow-y: scroll;
  display: block;
  margin: auto;
  max-width: 1000px;

}
#gallery img {
  width: 200px;
  height: 200px;
  margin: 10px 10px;
  border: 2px solid var(--light-grey);
}
#gallery img:hover {
  transition: 0.2s;
  transform: scale(1.05);
}

#contact {
  display: block;
  margin: auto;
  max-width: 900px;
}
#contact-text {
  display: block;
  max-width: 360px;
}
.yellow-box {
  margin: 3em auto;

  background-color: var(--orange-yellow);
  opacity: 95%;
  color: var(--dark-grey);
  font-size: 16px;
  padding: 30px;
  border-radius: 2px;
}
.yellow-box p {
  margin: 0px;
}

#contact-target a {
  text-decoration: underline;
}
#map-box {
  min-width: 360px;
  max-width: max-content;
  display: block;
  margin: 1em auto;
  padding: 0.5em;
}

.map {
  border: 0;
  min-width: 350px;
  min-height: 263px;
}

.byline {
  text-align: right;
  padding: 10px;
  margin: 0px;
  font-family: var(--title-font);
}
.elfsight-app-4a7379c7-484f-4e30-ba38-d261baf8e9c7 {
  font-family: var(--text-font);
  margin-top: 2em;
}

.widget {
  display: block;
  margin: 0 auto;
  font-family: var(--title-font);
  text-align: center;
}

.widget_input {
  padding: 5px;
  border-radius: 2px;
  border: none;
  margin: 4px;
  max-width: 300px;
  font-family: var(--text-font);
}

.availability-button {
  text-align: center;
  margin: 2em auto;
  padding: 20px;
  background: var(--orange-yellow);
  color: var(--dark-grey);
  border: 2px solid white;
  font-family: var(--title-font);
  font-size: 24px;
}

.title { 
  font-family: var(--title-font);
  color: white;
  font-size: 24px;
  padding: 3em 0 3em 0;
  margin-bottom: 3em;
  min-height: 6em;
}

@media screen and (max-width: 375px) {
  .map {
    min-width:340px;min-height:240px;
    width: 340px;height:240px;
    display: block;
    margin: auto;
  }
  #map-box {
    min-width:340px;
    max-width:100vw;
  }
}

@media screen and (min-width: 768px) {
  #info .about-container, 
  .info .about-container {
    max-width: 900px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  #about-text-pt1, #about-text-pt2, .about-text {
    max-width: 340px;
    text-align: justify;
    margin: 0px;
  }
  .med-about-image {
    display: block;
  }
  .sml-about-image {
    display: none;
  }
  .availability-button {
    margin: 3em auto;
  }
  .lg-container {
    padding: 2.5em 0;
  }
  .info h2 {
    padding: 0 2em;
  }

}
@media screen and (min-width: 900px) {
  #info .feature-container {
    max-width: 900px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }
  #info .feature {
    width: 301px;
  }
  .availability-button {
    margin: 4em auto;
  }
  .lg-container {
    padding: 3em 0;
  }

  #map-box {
    padding: 1.5em;
  }
  #contact {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  #contact-target {
    padding-top: 25vh; 
  }
}
